@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-header: #202337;
    --color-fondo : #0f1129;
    --color-celeste: #00abf5;
    --color-verde: #2ae5b3;
    --color-plomo: #dbdee3;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}

.cursor {
    --x: 5px;
    --y: 5px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -50px;
    left: -50px;
    z-index: 1;
    pointer-events: none;
    width: 100px;
    height: 100px;
    border: 2px solid var(--color-celeste);
    transform: translate(var(--x), var(--y)) translateZ(0);
    border-radius: 50%;
    opacity: 0;
    background-color: rgba(0,0,0, .5);
}

.cursor__arrow {
    width: 30px;
    height: 50px;
    filter: invert(100%) sepia(0%) saturate(26%) hue-rotate(296deg) brightness(98%) contrast(105%);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--color-header);
    color: white;
    height: 3em;
    position: absolute;
    z-index: 1;
}

.header__img {
    width: 35px;
    height: 35px;
}

.header__cont-left {
    display: flex;
    gap: .5em;
    margin-left: .5em;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo-img {
    width: 20em;
}


.header__nav {
    height: 100%;
}
.nav__ul {
    display: flex;
    gap: 1.7em;
    height: 100%;
}
.nav__a {
    display: flex;
    align-items: center;
    position: relative;
    text-transform: uppercase;
    font-size: .7em;
    font-weight: 400;
    transition: border-bottom .2s;
}

.nav__a::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: .5em;
    width: 100%;
    background-color: #0099DA;
    transition: clip-path .3s;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}

.nav__a:hover::after {
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
}

.header__cont-right {
    display: flex;
    align-items: center;
    gap: .8em;
}

.header__enlace {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: .7em;
    font-weight: 400;
}

.enlace__iniciar {
    display: flex;
    align-items: center;
    gap: .5em;
}

.header__search {
    filter: invert(98%) sepia(5%) saturate(129%) hue-rotate(41deg) brightness(117%) contrast(100%);
    height: 1.2em;    
}
.header__idioma {
    filter: invert(98%) sepia(5%) saturate(129%) hue-rotate(41deg) brightness(117%) contrast(100%);
    height: 1.2em;    
}


.enlace__iniciar-img {
    filter: invert(98%) sepia(5%) saturate(129%) hue-rotate(41deg) brightness(117%) contrast(100%);
    height: 2em;
}

.enlace__download {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background: linear-gradient(-90deg, rgb(63, 196, 248), #039ae6 70%);
    height: 3rem;
    width: 10em;
    margin-left: .9em;
    color: black;
    letter-spacing: 1.8px;
}

.home {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f1129;
}

.home__video {
    position: fixed;
    width: 100%;
    transition: width .5s;
}

.home__contText {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 2em;
    top: 50%;
    transform: translateY(-50%);
    left: 3em;
}

.home__text {
    color: white;
    font-weight: lighter;
    font-size: 3.8em;
    width: 700px;
}

.enlace__information {
    width: fit-content;
    text-transform: uppercase;
    color: white;
    border: 2px solid rgb(63, 196, 248);
    padding: .8em 1.5em;
    font-weight: bold;
    font-size: .8em;
    text-decoration: none;
}

.enlace__information:hover {
    box-shadow: 
    0 0 5px rgb(5, 153, 211),
    0 0 15px rgb(27, 169, 224),
    0 0 25px rgb(77, 192, 238);
}


.space {
    height: 70vh;
    width: 100%;
    background-color: var(--color-fondo);
}

/*SECTION SLIDER*/
.containerSlider {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: var(--color-fondo);
    padding-bottom: 6em;
    /* gap: 2em; */
}

.contSlider {
    width: 80%;
    /* height: 600px; */
    overflow-x : hidden;
    cursor: none;
}

.swripper {
    position: relative;
    display: flex;
    width: 600%;
    height: 100%;
    transition: transform .5s;
}

.swripper::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(var(--color-fondo) 0%, transparent 15%, transparent 85%, var(--color-fondo) 100%);
}

.swripper__card {
    width: calc(100% / 6);
    height: 100%;
}

.swripper__card:hover {
    transform: scale(1.2);
}

.cont-points {
    display: flex;
    align-items: center;
    gap: 1em;
}

.points {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--color-celeste);
    cursor: pointer;
}

.points-circule {
    height: 50%;
    width: 50%;
    border-radius: 50%;
    background-color: white;
}

@keyframes change {
    0%{
        transform: translateY(-7rem)
    }
}

.containerSlider-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    color: white;
    transition: all 1s;
    pointer-events: none;
}

.containerSlider-h2 {
    font-size: 3em;
    font-weight: 400;
    left: 12rem;
    max-width: 10em;
}
.containerSlider-p {
    font-size: 1em;
    max-width: 20em;
    right: 12rem;
    font-weight: 500;
}

.aboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;    
    padding: 4em 0 6em;
    gap: 4em;
    background-color: var(--color-plomo)
}

.aboutMe__description {
    width: 40%;
}

.description__title {
    font-size: 3em;
    font-weight: lighter;
    margin-bottom: .5em;
}

.parrafo {
    font-weight: 400;
    line-height: 30px;
    font-size: .95em;
}

.aboutMe__recomendations {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: row;
    width: 90%;
    gap: 2em;
}

.recomendation {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2em 1em;
    gap: 1em;
    text-align: start;
}

.recomendation::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: .2em;
    background: linear-gradient(-90deg, #34BBFD, #0492da);
}

.recomendation__title {
    font-size: 1.6em;
    font-weight: 400;
}

.recomendation__enlace {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    border: 2px solid;
    border-color: initial;
    border-image: radial-gradient(100% 185.14% at 100% 100%,
     rgb(52, 195, 255) 0%, rgb(51, 142, 238) 100%) 5 / 2px / 0 stretch;
    padding: .7em 2em;
    margin-top: .8em;
    width: fit-content;
    font-weight: 600;
    font-size: .8em;
    letter-spacing: 2px;
}

.recomendation__enlace:hover {
    box-shadow: 
    0 0 5px rgb(23, 184, 248),
    0 0 15px rgb(27, 169, 224),
    0 0 25px rgba(77, 192, 238, .5);
}

.noticias {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    text-align: start;
}

.noticias__title {
    font-size: 1.9em;
    font-weight: 400;
}

hr {
    width: 100%;
    margin: 1.8em 0;
    border: none;
    border-top: 1px solid black;
}
.noticias__cards {
    display: flex;
    gap: 3em;
}

.cards__card {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 50%;
}

.card__enlace-img {
    overflow: hidden;
}

.card__img {
    width: 100%;
    transition: transform .5s;
    -webkit-user-drag: none;
}

.card__img:hover {
    transform: scale(1.08)
}

.card__span {
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: .8em;
    margin-top: .7em;
}

.card__subtitle {
    font-size: 1.5em;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.card__subtitle:hover {
    color: rgb(80, 77, 245);
}

.card__enlace {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: .8em;
    width: fit-content;
    letter-spacing: 2px;
}

.card__enlace:after {
    content: "";
    display: block;
    width: 100%;
    height: .2em;
    margin-top: .1em;
    background: linear-gradient(-90deg, #34BBFD, #0492da);
}

@keyframes carge {
    0%{ width: 0 }
    100%{ width: 100% }
}

.card__enlace:hover::after {
    animation: carge .7s;
}

.comunidad {
    padding-bottom: 5em;
    background-color: var(--color-fondo)
}

.comunidad__contImg {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
}

.comunidad__contImg::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(15, 17, 41, .7), var(--color-fondo) 90%);
}

.contImg__img {
    width: 100%;
}

.contImg__contText {
    position: absolute;
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 1.3em;
    width: 60%;
}

.contImg__title {
    font-size: 3em;
    font-weight: 400;    
}

.contImg__text {
    line-height: 32px;
}

.contImg__enlace {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: 500;
    border: 1px solid;
    width: fit-content;
    margin: auto;
    padding: .8em 2em;
    border-image: radial-gradient(100% 185.14% at 100% 100%,
    rgb(52, 195, 255) 0%, rgb(51, 142, 238) 100%) 5 / 2px / 0 stretch;
}

.contImg__enlace:hover {
    box-shadow: 
    0 0 5px rgb(5, 153, 211),
    0 0 15px rgb(27, 169, 224),
    0 0 25px rgb(77, 192, 238);
}

.comunidad__perfiles {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4em;
    padding: 0 3em;
    background-color: var(--color-fondo)
}

.perfiles__perfil {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 35em;
    height: 27em;
    overflow: hidden;
}

.perfil__info {
    display: flex;
    justify-content: space-between; 
    color: white;
}

.perfil__name {
    font-weight: 400;
    font-size: 1.5em;
}

.perfil__subname {
    font-weight: 300;
    font-size: .8em;
}

.perfil__img-fondo {
    width: 100%;
    height: 80%;
    object-fit: cover;
    transition: transform .4s;
    cursor: none;
    -webkit-user-drag: none;
}

.perfil__img-fondo:hover {
    transform: scale(1.03);
}

.perfil__img-person {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.download {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 6em 4em;
    width: 100%;
    gap: 3em;
    background: linear-gradient(90deg, #338fee, #34a8f7);
}

.download__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
    border: 2px solid white;
    cursor: pointer;
    min-height: 30em;
}

.download__card:hover {
    background-color: white;
}

.download__card-first {
    border: none;
    padding: 0;
    cursor: default;
}

.download__card-first:hover {
    background-color: transparent;
}

.download__card-first-title {
    font-size: 3em;
    font-weight: 500;
}

.download__card-first-text {
    font-weight: bold;
    width: 90%;
    line-height: 30px;
}

.download__card-span {
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: .8em
}

.download__card-contText-title {
    font-size: 2em;
    font-weight: 400;
    margin-bottom: .5em;
}

.download__card-contText-text {
    font-weight: 400;
    font-size: .9em;
    line-height: 30px;
}

.boletin {
    display: flex;
    justify-content: center;
    background: linear-gradient(transparent, transparent 50% , #202337 50%),linear-gradient(90deg, #338fee, #34a8f7);
}

.contBoletin {
    text-align: center;
    width: 80%;
    background-color: white;
    padding: 5em 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.contBoletin__span {
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: .8em;
}

.contBoletin__h2 {
    font-size: 2.1em;
    font-weight: 300;
}

.contInput__input {
    height: 3em;
    width: 20em;
    padding: 0 1.5em;
    font-size: 1em;
    border: none;
    background-color: #eceff2;
}

.contInput__button {
    font-size: 1em;
    height: 3em;
    padding: 0 2em;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgb(33,33,33);
    background: linear-gradient(90deg, #338fee, #34a8f7);
    border: none;
}

.contBoletin__parrafo {
    width: 60%;
    font-size: .85em;
    font-weight: 400;
}

@media screen and (max-width:990px ) {
    .header__nav {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
}