@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --color-header: #202337;
    --color-fondo : #0f1129;
    --color-celeste: #00abf5;
    --color-verde: #2ae5b3;
    --color-plomo: #dbdee3;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}

.cursor {
    --x: 5px;
    --y: 5px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -50px;
    left: -50px;
    z-index: 1;
    pointer-events: none;
    width: 100px;
    height: 100px;
    border: 2px solid var(--color-celeste);
    transform: translate(var(--x), var(--y)) translateZ(0);
    border-radius: 50%;
    opacity: 0;
    background-color: rgba(0,0,0, .5);
}

.cursor__arrow {
    width: 30px;
    height: 50px;
    filter: invert(100%) sepia(0%) saturate(26%) hue-rotate(296deg) brightness(98%) contrast(105%);
}

.header__menu {
    position: absolute;
    display: flex;
    flex-direction: column; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4em;
    height: 3em;
    background: linear-gradient(-90deg, rgb(63, 196, 248), #039ae6 70%);
    gap: .3em;
    top: 0;
    right: 0;
    z-index: -1;
}

.header__menu-span {
    width: 2em;
    height: 3px;
    background-color: black;
}

.home-app {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(transparent, var(--color-fondo) 100%), url("../assets/img/fondo-home-app.webp");
    display: flex;
    background-size: 100%; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 2em;
}

.home-app__span {
    font-size: 2.5em;
    width: 90%;
    text-align: center;
}

.home-app__enlace {
    text-decoration: none;
    color: white;
    border: 2px solid;
    border-image: radial-gradient(100% 185.14% at 100% 100%,
    rgb(52, 195, 255) 0%, rgb(51, 142, 238) 100%) 5 / 2px / 0 stretch;
    text-transform: uppercase;
    padding: .7em 1.8em;
    font-weight: 400;
    font-size: .8em;
}

.home-app__line {
    height: 5em;
    position: absolute;
    bottom: .5em;
    width: 2px;
    background-color: white;
    animation: appear 2s infinite ease-out;
}

@keyframes appear{
    0% { clip-path: polygon(100% 0, 0 0, 0 0, 100% 0); }
    50% { clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%); }
    100% { clip-path: polygon(100% 100%, 0 100%, 0 100%, 100% 100%); }
}

.home-app__enlace:hover {
    box-shadow: 
    0 0 5px rgb(5, 153, 211),
    0 0 15px rgb(27, 169, 224),
    0 0 25px rgb(77, 192, 238);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--color-header);
    color: white;
    height: 3em;
    position: absolute;
    z-index: 1;
}

.header__img {
    width: 35px;
    height: 35px;
}

.header__cont-left {
    display: flex;
    gap: .5em;
    margin-left: .5em;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo-img {
    width: 20em;
}


.header__nav {
    height: 100%;
}
.nav__ul {
    display: flex;
    gap: 1.7em;
    height: 100%;
}
.nav__a {
    display: flex;
    align-items: center;
    position: relative;
    text-transform: uppercase;
    font-size: .7em;
    font-weight: 400;
    transition: border-bottom .2s;
}

.nav__a::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: .5em;
    width: 100%;
    background-color: #0099DA;
    transition: clip-path .3s;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}

.nav__a:hover::after {
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
}

.header__cont-right {
    display: flex;
    align-items: center;
    gap: .8em;
}

.header__enlace {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: .7em;
    font-weight: 400;
}

.enlace__iniciar {
    display: flex;
    align-items: center;
    gap: .5em;
}

.header__search {
    filter: invert(98%) sepia(5%) saturate(129%) hue-rotate(41deg) brightness(117%) contrast(100%);
    height: 1.2em;    
}
.header__idioma {
    filter: invert(98%) sepia(5%) saturate(129%) hue-rotate(41deg) brightness(117%) contrast(100%);
    height: 1.2em;    
}


.enlace__iniciar-img {
    filter: invert(98%) sepia(5%) saturate(129%) hue-rotate(41deg) brightness(117%) contrast(100%);
    height: 2em;
}

.enlace__download {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background: linear-gradient(-90deg, rgb(63, 196, 248), #039ae6 70%);
    height: 3rem;
    width: 10em;
    margin-left: .9em;
    color: black;
    letter-spacing: 1.8px;
}

.home {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f1129;
}

.home__video {
    position: fixed;
    width: 100%;
    transition: width .5s;
}

.home__contText {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 2em;
    top: 50%;
    transform: translateY(-50%);
    left: 3em;
}

.home__text {
    color: white;
    font-weight: lighter;
    font-size: 3.8em;
    width: 700px;
}

.enlace__information {
    width: fit-content;
    text-transform: uppercase;
    color: white;
    border: 2px solid rgb(63, 196, 248);
    padding: .8em 1.5em;
    font-weight: bold;
    font-size: .8em;
    text-decoration: none;
}

.enlace__information:hover {
    box-shadow: 
    0 0 5px rgb(5, 153, 211),
    0 0 15px rgb(27, 169, 224),
    0 0 25px rgb(77, 192, 238);
}


.space {
    height: 70vh;
    width: 100%;
    background-color: var(--color-fondo);
}

/*SECTION SLIDER*/
.containerSlider {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: var(--color-fondo);
    padding-bottom: 6em;
    padding-top: 4em;
}

.contSlider {
    width: 80%;
    /* height: 600px; */
    overflow-x : hidden;
    cursor: none;
}

.swripper {
    position: relative;
    display: flex;
    width: 600%;
    height: 100%;
    transition: transform .5s;
}

.swripper::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(var(--color-fondo) 0%, transparent 15%, transparent 85%, var(--color-fondo) 100%);
}

.swripper__card {
    width: calc(100% / 6);
    height: 100%;
}

.swripper__card:hover {
    transform: scale(1.2);
}

.cont-points {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-top: 1em;
}

.points {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--color-celeste);
    cursor: pointer;
}

.points-circule {
    height: 50%;
    width: 50%;
    border-radius: 50%;
    background-color: white;
}

@keyframes change {
    0%{
        transform: translateY(-7rem)
    }
}

.containerSlider-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    color: white;
    transition: all 1s;
    pointer-events: none;
}

.containerSlider-h2 {
    font-size: 3em;
    font-weight: 400;
    left: 12rem;
    max-width: 10em;
}
.containerSlider-p {
    font-size: 1em;
    max-width: 20em;
    right: 12rem;
    font-weight: 500;
}

.aboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;    
    padding: 4em 0 6em;
    gap: 4em;
    background-color: var(--color-plomo)
}

.aboutMe__description {
    width: 40%;
}

.description__title {
    font-size: 3em;
    font-weight: lighter;
    margin-bottom: .5em;
}

.parrafo {
    font-weight: 400;
    line-height: 30px;
    font-size: .95em;
}

.aboutMe__recomendations {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: row;
    width: 90%;
    gap: 2em;
}

.recomendation {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2em 1em;
    gap: 1em;
    text-align: start;
}

.recomendation::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: .2em;
    background: linear-gradient(-90deg, #34BBFD, #0492da);
}

.recomendation__title {
    font-size: 1.6em;
    font-weight: 400;
}

.recomendation__enlace {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    border: 2px solid;
    border-color: initial;
    border-image: radial-gradient(100% 185.14% at 100% 100%,
     rgb(52, 195, 255) 0%, rgb(51, 142, 238) 100%) 5 / 2px / 0 stretch;
    padding: .7em 2em;
    margin-top: .8em;
    width: fit-content;
    font-weight: 600;
    font-size: .8em;
    letter-spacing: 2px;
}

.recomendation__enlace:hover {
    box-shadow: 
    0 0 5px rgb(23, 184, 248),
    0 0 15px rgb(27, 169, 224),
    0 0 25px rgba(77, 192, 238, .5);
}

.noticias {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    text-align: start;
}

.noticias__title {
    font-size: 1.9em;
    font-weight: 400;
}

hr {
    width: 100%;
    margin: 1.8em 0;
    border: none;
    border-top: 1px solid black;
}
.noticias__cards {
    display: flex;
    gap: 3em;
}

.cards__card {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 50%;
}

.card__enlace-img {
    overflow: hidden;
}

.card__img {
    width: 100%;
    transition: transform .5s;
    -webkit-user-drag: none;
}

.card__img:hover {
    transform: scale(1.08)
}

.card__span {
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: .8em;
    margin-top: .7em;
}

.card__subtitle {
    font-size: 1.5em;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.card__subtitle:hover {
    color: rgb(80, 77, 245);
}

.card__enlace {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: .8em;
    width: fit-content;
    letter-spacing: 2px;
}

.card__enlace:after {
    content: "";
    display: block;
    width: 100%;
    height: .2em;
    margin-top: .1em;
    background: linear-gradient(-90deg, #34BBFD, #0492da);
}

@keyframes carge {
    0%{ width: 0 }
    100%{ width: 100% }
}

.card__enlace:hover::after {
    animation: carge .7s;
}

.comunidad {
    padding-bottom: 5em;
    background-color: var(--color-fondo)
}

.comunidad__contImg {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
}

.comunidad__contImg::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(15, 17, 41, .7), var(--color-fondo) 100%);
}

.contImg__img {
    width: 100%;
    object-fit: cover;
}

.contImg__contText {
    position: absolute;
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 1.3em;
    width: 60%;
}

.contImg__title {
    font-size: 3em;
    font-weight: 400;    
}

.contImg__text {
    line-height: 32px;
}

.contImg__enlace {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: 500;
    border: 1px solid;
    width: fit-content;
    margin: auto;
    padding: .8em 2em;
    border-image: radial-gradient(100% 185.14% at 100% 100%,
    rgb(52, 195, 255) 0%, rgb(51, 142, 238) 100%) 5 / 2px / 0 stretch;
}

.contImg__enlace:hover {
    box-shadow: 
    0 0 5px rgb(5, 153, 211),
    0 0 15px rgb(27, 169, 224),
    0 0 25px rgb(77, 192, 238);
}

.comunidad__perfiles {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4em;
    padding: 0 3em;
    padding-top: 3em;
    background-color: var(--color-fondo)
}

.perfiles__perfil {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 35em;
    height: 27em;
    overflow: hidden;
}

.perfil__info {
    display: flex;
    justify-content: space-between; 
    color: white;
}

.perfil__name {
    font-weight: 400;
    font-size: 1.5em;
    cursor: pointer;
}

.perfil__name:hover {
    color: var(--color-celeste);
}

.perfil__subname {
    font-weight: 300;
    font-size: .8em;
}

.perfil__img-fondo {
    width: 100%;
    height: 80%;
    object-fit: cover;
    transition: transform .4s;
    cursor: none;
    -webkit-user-drag: none;
}

.perfil__img-fondo:hover {
    transform: scale(1.03);
}

.perfil__img-person {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.download {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 6em 4em;
    width: 100%;
    gap: 3em;
    background: linear-gradient(90deg, #338fee, #34a8f7);
}

.download__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
    border: 2px solid white;
    cursor: pointer;
    min-height: 30em;
}

.download__card:hover {
    background-color: white;
}

.download__card-first {
    border: none;
    padding: 0;
    cursor: default;
}

.download__card-first:hover {
    background-color: transparent;
}

.download__card-first-title {
    font-size: 3em;
    font-weight: 500;
}

.download__card-first-text {
    font-weight: bold;
    width: 90%;
    line-height: 30px;
}

.download__card-span {
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: .8em
}

.download__card-contText-title {
    font-size: 2em;
    font-weight: 400;
    margin-bottom: .5em;
}

.download__card-contText-text {
    font-weight: 400;
    font-size: .9em;
    line-height: 30px;
}

.boletin {
    display: flex;
    justify-content: center;
    background: linear-gradient(transparent, transparent 50% , #202337 50%),linear-gradient(90deg, #338fee, #34a8f7);
}

.contBoletin {
    text-align: center;
    width: 90%;
    background-color: white;
    padding: 5em 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.contBoletin__span {
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: .8em;
}

.contBoletin__h2 {
    font-size: 2.1em;
    font-weight: 300;
}

.contInput__input {
    height: 3em;
    width: 20em;
    padding: 0 1.5em;
    font-size: 1em;
    border: none;
    background-color: #eceff2;
    outline: none;
}

.contInput__button {
    font-size: 1em;
    height: 3em;
    padding: 0 2em;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgb(33,33,33);
    background: linear-gradient(90deg, #338fee, #34a8f7);
    border: none;
    cursor: pointer;
}

.contInput__button:hover {
    background: none;
    background-color: #0057d9;
    box-shadow: 0 0 12px #0057d9,
        0 0 17px #0f67eb;
}

.contBoletin__parrafo {
    width: 60%;
    font-size: .85em;
    font-weight: 400;
}

.footer {
    background-color: #202337;
    padding: 4em 0;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.contFirst {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.footer__picture {
    display: flex;
    gap: 1em;
}

.picture__img {
    width: 40px;
    height: 40px;
    filter: invert(91%) sepia(38%) saturate(77%) hue-rotate(180deg) brightness(96%) contrast(84%);
}

.picture__img:hover {
    filter: invert(48%) sepia(99%) saturate(2503%) hue-rotate(167deg) brightness(93%) contrast(103%);
    cursor: pointer;
}

.contFirst__up {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: .85em;
    font-weight: 500;
}

.contFirst__up:hover > .contFirst__up-img {
    transform: translateY(-.2em);
    filter: invert(48%) sepia(99%) saturate(2503%) hue-rotate(167deg) brightness(93%) contrast(103%);
}
.contFirst__up:hover > .contFirst__up-span {
    color: #009ddf;
}

.contFirst__up-img {
    transition: transform .5s, color .5s;
    width: 30px;
    filter: invert(100%) sepia(0%) saturate(729%) hue-rotate(163deg) brightness(112%) contrast(101%);
}

.contFirst__up-span {
    transition: color .5s;
}

.contSecond {
    display: flex;
    width: 90%;
    margin: auto;
    gap: 2em;
}

.footer__contEnlaces {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.contEnlaces__span {
    letter-spacing: 3px;
    font-size: .8em;
    font-weight: 500;
    color: #bbb;
}

.contEnlaces__enlace {
    text-decoration: none;
    color: white;
    font-size: .8em;
    font-weight: 500;
    transition: color .4s;
}

.contEnlaces__enlace:hover {
    color: #009ddf;
}

.footer__hr {
    margin: 0;
    padding: 0;
    width: 90%;
    margin: auto;
    border-color:rgb(155, 151, 151)
}

.footer__derechos {
    width: 90%;
    color: white;
    margin: auto;
}

.footer__derechos-text {
    width: 70%;
    font-size: .7em;
    font-weight: 400;
    line-height: 25px;
}

.contThird {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.contThird__enlaces {
    display: flex;
    gap: 1.5em;
}

.enlaces-text {
    color: white;
    text-decoration: none;
    font-size: .8em;
    font-weight: 500;
    transition: color .5s;
}

.enlaces-text:hover {
    color: #009ddf;
}

.enlaces-img:hover {
    filter: invert(48%) sepia(99%) saturate(2503%) hue-rotate(167deg) brightness(93%) contrast(103%);
}

@media screen and (max-width:1040px) {
    .containerSlider-h2 {
        left: 4rem;
    }
    .containerSlider-p {
        right: 4em;
    }
}

@media screen and (max-width:990px ) {
    .header__nav {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    .home-app {
        opacity: 1;
        position: relative;
    }

    .home, .space {
        opacity: 0;
        position: absolute;
        overflow: hidden;
        z-index: -1;
        top: 0;
    }
}

@media screen and (max-width:900px) {
    .header__cont-right {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    .header__logo-img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .aboutMe__description {
        width: 90%;
    }
    .contImg__contText {
        font-size: .8em;
        width: 90%;
    }
    .comunidad__perfiles, .download {
        grid-template-columns: none;
        grid-template-rows: repeat(3, 1fr);
    }
    .aboutMe__recomendations { grid-template-columns: none }
    .download {
        font-size: .8em;
    }
    .download__card {
        min-height: 16em;
    }
    .contBoletin {
        font-size: .8em;
        padding: 3em;
    }
    .contBoletin__h2 {
        font-size: 1.5em;
        font-weight: 500;
    }
    .contInput {
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 70%;
    }
    .contInput__input {
        width: 100%
    }
    .recomendation {
        align-items: center;
        text-align: center;
    }
    .picture__img {
        width: 30px;
        height: 30px;
    }
    .containerSlider {
        font-size: .8em;
    }
}

@media screen and (max-width:700px) {
    .home-app__span { font-size: 1.8em }
    .noticias__cards {
        flex-direction: column;
    }
    .containerSlider { height: 80vh; }
    .cards__card { width: 100% }
    .contSecond {
        flex-wrap: wrap;
        gap: 4em;
    }
    .contEnlaces__span {
        max-width: 17em;
    }
    .contImg__img {
        height: 80vh;
    }
    .footer__derechos-text {
        width: 90%;
        margin: auto;
        text-align: center;
    }
    .recomendation__last {
        padding-bottom: 0;
    }
}

@media screen and (max-width:480px) {
    .description__title { font-size: 2.5em }
    .containerSlider { padding-bottom: 0;}
    .containerSlider-text { top: .5em; }
    .containerSlider-h2 {
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
    .containerSlider-p { opacity: 0; }
}